<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Birds of California</h5>
          <p class="grey-text text-lighten-4">We are completely open-source! Please use the links here to explore our code or download our datasets! </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Data and Code</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Birds Dataset (plain text)</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Birds Dataset (csv)</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.californiabirds.org/checklist.asp">Dataset Original Source (External Link)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Last Updated 11.19.2020
      <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/brandon-robert-myer">Connect with Me!</a>
      </div>
    </div>
  </footer>