<ul id="slide-out" class="sidenav">
    <li>
        <% if (userData != null && userData.username != '') { %>
        <div class="user-view">
            <div class="background">
                <img src="/img/coalinga.jpg">
            </div>
            <a href="#user"><img class="circle" src="/img/profile.jpg"></a>
            <a href="#name"><span class="white-text name"> <%=userData.username%></span></a>
            <a href="#email"><span class="white-text email"><%=userData.email%></span></a>
        </div>
        <% } else {} %>
    </li>


    <li><a class="waves-effect" href="/species"><i class="material-icons">explore</i>Species Explorer</a></li>
    <li>
        <div class="divider"></div>
    </li>

    <% if (userData != null && userData.username != '') { %>

    <li><a class="waves-effect" href="/checklist"><i class="material-icons">list_alt</i>Checklist Builder</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="/checklist/viewer"><i class="material-icons">topic</i>My Checklists</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="users/signout"><i class="material-icons">exit_to_app</i>Logout</a></li>
    <% } else { %>

    <li><a class="waves-effect" href="/users/login"><i class="material-icons">login</i>Login</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="/users/new"><i class="material-icons">cloud</i>Sign Up</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <% } %>



</ul>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                        class="material-icons">menu</i></a>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">BIRDS OF CALIFORNIA</a></li>
                
            </ul>
        </div>
    </nav>
</div>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>