<ul>

    <% if (userData != null && userData.username != '') { %>
        <h1> <%= userData.username %> is signed in. </h1> 
    <li>
        <a href="users/signout">Logout</a>
    </li>
    <% } else { %>
    <li>
        <a href="/users/new">Signup</a>
    </li>
    <li>
        <a href="/users/login">Login</a>
    </li>
    <% } %>
    <li> <a href="/species"> Species Explorer </a>  </li>
    <li> <a href="/sightings"> Sightings Reports </a> </li>
    <li> <a href="/checklist"> Sighting Checklists </a> </li>

</ul>