<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <%- include('./partials/cdns.ejs') %>
    <title>California | Birds</title>
</head>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="parallax-container">
        <div class="parallax"><img src="https://wallpapershome.com/images/pages/pic_h/16170.jpg"></div>
      </div>
      <div class="section">
        <div class="row container">
          <h2 class="header">Birds of California</h2>
          <p class="grey-text text-darken-3 lighten-3">Thanks for coming to Birds of California, this is a web application dedicated to birders. Create, edit, download, print, and save birding checklists here. We have also taken the time to compile a dataset of all 
              species seen in California into a user friendly list easy to download. This site was inspired by citizen science projects like eBird, however we saw the problem about easily getting information for the less technical savvy. So we have simplified access
              to the datasets we all want. Enjoy! 
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://wallpapershome.com/images/pages/pic_h/4025.jpg"></div>
      </div>

      <%- include('./partials/footer.ejs') %>



</body>



</html>