<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/home.css' />
    <%- include('./partials/cdns.ejs') %>
    <title>California | Birds</title>
</head>

<body>

    <%- include('./partials/nav.ejs') %>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                            class="material-icons">menu</i></a>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">BIRDS OF CALIFORNIA</a></li>
                    
                </ul>
            </div>
        </nav>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://wallpapershome.com/images/pages/pic_h/16170.jpg"></div>
      </div>
      <div class="section">
        <div class="row container">
          <h2 class="header">Birds of California</h2>
          <p class="grey-text text-darken-3 lighten-3">Thanks for coming to Birds of California, this is a web application dedicated to birders. Create, edit, download, print, and save birding checklists here. We have also taken the time to compile a dataset of all 
              species seen in California into a user friendly list easy to download. This site was inspired by citizen science projects like eBird, however we saw the problem about easily getting information for the less technical savvy. So we have simplified access
              to the datasets we all want. Enjoy! 
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="https://wallpapershome.com/images/pages/pic_h/4025.jpg"></div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Birds of California</h5>
              <p class="grey-text text-lighten-4">We are completely open-source! Please use the links here to explore our code or download our datasets! </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Data and Code</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Birds Dataset (plain text)</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Birds Dataset (csv)</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.californiabirds.org/checklist.asp">Dataset Original Source (External Link)</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Last Updated 11.19.2020
          <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/brandon-robert-myer">Connect with Me!</a>
          </div>
        </div>
      </footer>


    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
</body>



</html>