@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

body {
    background-color: brown;
    font-family: 'B612', sans-serif;

}
nav {
    background-color: #606C38 !important;
}
.section {
    background-color: white;
    color: #606C38;
}
.sidenav {
    /* background-color: #DDA15E !important; */
}
.page-footer {
    background-color: #606C38 !important;
}