<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
</head>
<body>
    <h1> Checklist Viewer </h1>
    <% checklists.forEach(list => { %>
    <p><%= list.listTitle %> </p>
    <p> <a href="/checklist/<%= list._id %>"> Checklist Details </a> </p>
    <% }) %>
</body>
</html>